.main-button{
  width: 100%;
  text-align: left;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(29, 29, 29); 
  color: white;
  padding: 5px;
  margin: 0;
  height: 30px;
  
}

.favorite-panel{
  width: 100%;
}
.star{
  text-align: left;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 20px;
  height: 20px
}
.grow {
  animation: grow-keyframes 1s;
}
@keyframes grow-keyframes {
  0% {scale: 1}
  50% {opacity: 2}
  100% {scale: 1}
}